.about {
  padding: 17.2rem;
  background: #f8f9fa;
  margin: 20px;
  margin-top: -50px;
  margin-left: -10px;
  margin-right: -1px;
}

.about-header {
  color: #003366;
  margin-bottom: -50px;
  text-align: right;
  margin-top: -170px;
}

.about-content {
  width: 900px;
  margin: 0 auto;
  text-align: left;
}





.about-paragraph {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  gap: 15px;
  color: #545c65;
  margin-top: 100px;
}

.about-paragraph.left-align {
  flex-direction: row;
}

.about-paragraph.right-align {
  flex-direction: row-reverse;
  justify-content: space-between;
}

.about-image {
  flex-shrink: 0;
  width: 350px;
  height: 400px;
  object-fit: cover;
}

.slide-in {
  position: relative;
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 1s, transform 1s;
}

.slide-in-visible {
  opacity: 1;
  transform: translateX(0);
}
